@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

.header {
  background-color: #ff004c;

  min-height: 100vh;

  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 1rem 0 1rem 1rem;
  border-right: 3px solid #1f2034;
  transition: width 0.2s linear;
  
}

.header .nav-list {
  list-style: none;
}

.header .nav-list .nav-link {
  /* display: inline-block; */
  text-decoration: none;
  padding: 5px 15px 5px 5px;
  border-radius: 10px 0 0 10px;

  width: 100%;
  transition: all 0.2s linear;
}
.header .nav-list .nav-item:hover .nav-link,
.header .nav-list .nav-item.active .nav-link {
  background-color: #1f2034;
}

.header .nav-list .nav-link {
  display: flex;
  align-items: center;
}
.header .nav-list .nav-link > * {
  color: #fff;
}
.header .nav-list .nav-link .icon {
  line-height: 35px;
  height: 35px;
  margin-right: 7px;
  font-size: 18px;
}
.header .nav-list .nav-link .text {
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  overflow: hidden;
  transition: width 0.2s linear;
  font-size: large;
  white-space: nowrap;
}
.header.optimize .nav-list .nav-link .text {
  width: 0px;
}

.header .btn-navig {
  color: #fff;
  height: 40px;
  width: 40px;
  background-color: #1f2034;
  line-height: 40px;
  text-align: center;
  border-radius: 40px;
  text-decoration: none;
}

.header .btn-navig .open,
.header .btn-navig .close {
  display: none;
}
.header.optimize .btn-navig .open {
  display: inline-block;
}
.box{
  position: relative;
}

.input {
  padding: 10px;
  width: 80px;
  height: 80px;
  background: none;
  border: 4px solid #ff004c;
  border-radius: 50px;
  box-sizing: border-box;
  font-family: Comic Sans MS;
  font-size: 26px;
  color: #ff004c;
  outline: none;
  transition: .5s;
}
.box:hover input{
  width: 350px;
  background: #414142;
  border-radius: 10px;
}
.box i{
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(-50%,-50%);
  font-size: 26px;
  color: #ffd52d;
  transition: .2s;
}
.box:hover i{
  opacity: 0;
  z-index: -1;
}