<header id="header" style="position: fixed; top:0%;" class="header">
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="/" class="nav-link">
            <i class="fa fa-home icon"></i>
            <span class="text">Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'new-hood' %}" class="nav-link">
            <i class="fa fa-address-book icon"></i>
            <span class="text"> Add-Neighbourhood</span>
          </a>
        </li>
        
        {% if user.profile.neighbourhood %}
        <li class="nav-item">
            <a href="{% url 'single-hood' user.profile.neighbourhood.id %}" class="nav-link">
                <i class="fa fa-paper-plane"></i> <span class="text">&nbsp;
                &nbsp;{{user.profile.neighbourhood.name}}</span>
            </a>
        </li>
        {% else %}
        <li class="nav-item">
            <a href="" class="nav-link"> <span class="text">&nbsp;
                No Hood Yet</span>
            </a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a href="{% url 'profile' user.id  %}" class="nav-link">
            <i class="fa fa-user icon"></i>
            <span class="text">Profile</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'update_profile' user.id  %}" class="nav-link">
            <i class="fa fa-cog icon"></i>
            <span class="text">Update Profile</span>
          </a>
        </li>
        {% if user.profile.neighbourhood %}
        <li class="nav-item">
          <a href="{% url 'business:addbusiness' user.username %}" class="nav-link">
            <i class="fa fa-briefcase icon"></i>
            <span class="text">Add Business</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="logout" class="nav-link">
            <i class="fa fa-sign-out icon"></i>
            <span class="text">Sign out</span>
          </a>
        </li>
        {% else %}
        <li class="nav-item">
          <a href="logout" class="nav-link">
            <i class="fa fa-sign-out icon"></i>
            <span class="text">Sign out</span>
          </a>
        </li>
      {% endif %}
     
      </ul>
    </nav>
    <a id="btn-navig" class="btn-navig" href="#">
      <i class="fa fa-bars open icon"></i>
      <i class="fa fa-close close icon"></i>
    </a>
    </header>
<script>
const headerElm = document.getElementById("header");
const btnNavig = document.getElementById("btn-navig");

btnNavig.addEventListener("click", function () {
  headerElm.classList.toggle("optimize");
});
</script>