{% extends 'base.html' %}
{% block content %}
<style>
 

.input {
    padding: 10px;
    width: 300px;
    height: 80px;
    background: none;
    border: 4px solid #ff004c;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: Comic Sans MS;
    font-size: 26px;
    color: #ff004c;
    outline: none;
    transition: .5s;
}
.box:hover input{
    width: 550px;
    background: #414142;
    border-radius: 10px;
}
.box i{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: #ffd52d;
    transition: .2s;
}
.box:hover i{
    opacity: 0;
    z-index: -1;
}
</style>
<div class="container" style="margin-top:4%">
    <div class="row">
    
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-5"> 
                        <img src="{{ hood.logo.url }}" width="400" class="card-img" alt="...">
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <h5 class="card-title tt">{{ hood.name }} ({{hood.location}})
                            </h5>
                            <h6 class="card-text">
                                <span><strong>{{hood.occupants}}</strong> Members{{hood.occupants.count|pluralize}}</span>
                            </h6>
                            <p class="card-text">{{hood.description}}</p>
                            <p class="card-text"><span class="text-info">Police Tell</span>
                                &nbsp;<strong>{{hood.police_number}}</strong> |
                                <span class="text-info">Hospital Tell</span> <strong>{{hood.health_tell}}</strong></p>
                            <p class="card-text">Administrator: <small class="text-muted">
                                {{ hood.user.user.username }}</small></p>
                                <a href="{% url 'add-post' hood.id %}">
                                    <h2>Add Post</h2>
                                </a>
                        </div>
                    </div>
                </div>
            </div>
        

        <h3 class="D-block mx-auto tt">Posts</h3>
                    {% for post in posts %}
                    <div class="col-md-4" style="margin-top: 1%;">
                        <div class="card mb-4 hpost">
                            <div class="card-body">
                                <h5 class="card-title">{{post.title}}</h5>
                                <p class="card-text">" {{post.post}} "
                                </p>
                                <p class="card-text">By: <small class="text-white">
                                    {{ post.user.user.username|title }}</small> <small style="float:right">{{post.date|date}}</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <center>    
                        {% if messages %}
                            {% for message in messages %} 
                            <div class="alert {{message.tags}} m-1" role="alert" style="font-size: medium; margin-bottom: 30px;">
                                {{message}}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {% endfor %} 
                        {% endif %}
                    </center>
            
                    <!-- Breadcrumb -->
                
                    
                        <div class="box ml-auto">
                             <form name="search" method=POST action="{% url 'business:search' %}">
                                 {% csrf_token %}
                                 <input type="search" class="input" aria-label="Search" placeholder="Search Business" name="search" 
                                 onmouseout="this.value = ''; this.blur();">
                                 
                             </form>
                             
                         </div> 
                     
                    <!-- /Breadcrumb -->
                  
                    {% if businesses %}
                        <div class="row" style="margin-left: 1%;">
                            <h3 class="D-block mx-auto tt">Businesses</h3>
                            {% for business in businesses %}
                            <div class="col-sm-4">
                                <div class="card" style="margin-bottom: 30px;">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ business.name }}</h5>
                                        <p class="text-muted" style="font-size: small;">
                                            Neighbourhood: {{business.neighbourhood.name}}
                                            <span class="text-dark">
                                                <b>
                                                    
                                                        {{ business.neighbourhood.title }}   
                                            
                                                </b>
                                            </span>
                                        </p>
                                        <p class="card-text">{{ business.description|truncatewords:45 }}</p>
                                        <div class="" style="float:left">
                                            <h6><span  style="font-weight: lighter; font-size: small;">Email Address: <b>{{ business.email }}</b></span></h6>
                                        </div>
                                        <br>
                                        <div class="" style="float:right">
                                            
                                                <h6><span class="badge badge-primary">{{ business.neighbourhood }}</span></h6>
                                        
                                        </div>
                                        <br>
                                        <hr>
                                        <div class="d-flex flex-row user-info">
                                            {% if business.owner.profile_picture.url %}
                                                <img class="rounded" src="{{ business.owner.profile_picture.url }}" height="40" width="40">
                                            {% else %}
                                                <img class="rounded" src="https://www.pngall.com/wp-content/uploads/5/Profile-PNG-File.png" height="40" width="40">
                                            {% endif %}
                                            <div class="d-flex flex-column justify-content-start ml-2">
                                                <a href="#">
                                                    <span class="name"><b>{{ business.owner.user.first_name }} {{ business.owner.user.last_name }}</b></span>
                                                </a>
                                                <span class="text-muted" style="font-size: small;"><i class="fas fa-calendar-alt"></i> {{ business.date_created }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-sm-12" style="margin-top: 20px;">
                            <div class="content text-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="72" height="72" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M20 6h-3V4c0-1.103-.897-2-2-2H9c-1.103 0-2 .897-2 2v2H4c-1.103 0-2 .897-2 2v11c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V8c0-1.103-.897-2-2-2zm-5-2v2H9V4h6zM4 8h16v4h-3v-2h-2v2H9v-2H7v2H4V8zm0 11v-5h3v2h2v-2h6v2h2v-2h3.001v5H4z"></path></svg>
                                <br>
                                <h4 class="text-dark py-3">No Associated Businesses Found</h4>
                                <a href="{% url 'business:addbusiness' user.username %}" name="AddBusiness">
                                    <button type="submit" class="btn btn-primary btn-md" style="margin-right: 20px;"><i class="fa-solid fa-plus"></i> Add A Business</button>
                                </a>
                                <br>
                            </div> 
                        </div>
                    {% endif %}
                
    </div>
</div>
{% endblock %}
